*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    color: #27aedb;
    text-align: center;
}
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}
body{
    background-color: #F0F0F0;
}
.App{
    padding: 20px;
  
}
.menu{
    display: grid;
    grid-template-columns:repeat(2,1fr);
    column-gap: 20px;
    row-gap: 30px;
}
ul li{
    list-style: none;
}
ul{
    display: flex;
    justify-content: center;
    gap:20px;
    margin:20px 0;
}
.card{
    display: flex;
    border: 1px solid black;
    padding: 20px;
    background-color: antiquewhite;
}
.div1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}
.image{
    width: 50%;
}
img{
    width: 100%;
    padding: 0 5px;
}
.details{
    display: flex;
    flex-direction: column;
    gap:20px;
}
.price{
    color:green;
}